.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.title {
  display: flex;
  gap: 1rem;
}

.title:hover {
  cursor: pointer;
}

.titleText {
  color: #333;
}

.loginSignupButtons {
  display: flex;
  gap: 1rem;
}
